/*--------------------------------------------------------------
base
--------------------------------------------------------------*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif','Noto Serif JP',serif;
}

.section-title {
  font-weight: bold;
  font-size: 6rem;
  max-width: 1000px;
}

.btn {
  background-color: #F7D43F;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  max-width: 235px;
  height: 59px;
  border-radius: 50px;
  text-align: center;
  line-height: 59px;
  margin: 0 auto;
  color: #000;
}

.btn:hover {
  opacity: .8;
  transition: all .3s ease-out;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #fff;
}

.slick-arrow {
  display: none !important;
}

.burger-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 10px;
  display: none;
  margin: 0 0 0 auto;
}

.burger-btn-line {
  width: 20px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  transition: all .3s ease-out;
}

.line-top {
  top: 10px;
}

.line-middle {
  top: 50%;
  transform: translate(-50%, -50%);
}

.line-bottom {
  bottom: 10px;
}

.close .line-top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform .3s;
}

.close .line-middle {
  opacity: 0;
  transition: transform .3s;
}

.close .line-bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform .3s;
}

.sp-br {
  display: none;
}

.bottom-title {
  font-weight: bold;
  color: rgba(126, 126, 126, 0.1);
  font-size: 9rem;
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.noscroll {
  overflow: hidden;
}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
.header {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.header__main {
  display: flex;
  width: 80%;
  position: absolute;
  top: 9px;
  margin-left: 10%;
  z-index: 1;
}

.header__title {
  color: #fff;
  font-size: 2.6rem;
}

.header__nav {
  font-size: 1.6rem;
  margin: 0 0 0 auto;
  line-height: 45px;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li:not(:last-of-type) {
  margin-right: 30px;
}

.header__nav ul li a:hover {
  color: #ffcdb0;
  transition: color .5s;
}

.header-nav-sp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #282F35;
  font-size: 1.6rem;
  display: none;
}

.header-nav-sp ul {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.header-nav-sp ul li {
  margin-bottom: 40px;
}

.header-nav-sp ul li a:hover {
  color: rgb(255, 205, 176);
  transition: color .5s;
}


/*--------------------------------------------------------------
contact-fv
--------------------------------------------------------------*/
.contact-fv {
  background-image: url(../images/contact-page-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-height: 700px;
  position: relative;
}

.center-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 6rem;
}

/*--------------------------------------------------------------
contact-contents
--------------------------------------------------------------*/
.contact-wrapper {
  width: 100%;
  margin-top: 97px;
}

.contact-wrapper h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.contact-contents {
  max-width: 700px;
  margin: 0 auto;
}

.contact-check {
  width: 100%;
  margin-bottom: 22px;
}

.check:not(:last-of-type){
  margin-right: 20px;
}

.check label {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 10px;
}

.contact-check {
  display: flex;
}

.contact-name,.contact-tel,.contact-mail {
  margin-bottom: 22px;
}

.contact-name input,.contact-tel input,.contact-mail input {
  height: 30px;
}

.contact-name input,.contact-tel input,.contact-mail input,.contact-other textarea {
  width: 100%;
  font-size: 2rem;
}

textarea {
  resize: none;
}

.contact-btn {
  letter-spacing: 2px;
  margin-top: 80px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
}


/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
footer {
  height: 80px;
  font-size: 2rem;
  text-align: center;
  line-height: 80px;
}

@media (max-width: 768px) {
  /*--------------------------------------------------------------
base_sp
--------------------------------------------------------------*/
  .section-title::after {
    width: 90px;
  }
  .sp-br {
    display: block;
  }
  .pc-br {
    display: none;
  }
  .bottom-title {
    font-size: 4rem;
  }
  .btn {
    font-size: 1.5rem;
  }
/*--------------------------------------------------------------
header_sp
--------------------------------------------------------------*/
  .header__nav {
    display: none;
  }
  .burger-btn {
    display: block;
  }
/*--------------------------------------------------------------
fv_sp
--------------------------------------------------------------*/
  .subtitle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .subtitle h1 {
    font-size: 9vw;
    text-align: center;
  }
  .subtitle h2 {
    font-size: 6vw;
  }

  /*--------------------------------------------------------------
contact_sp
--------------------------------------------------------------*/
  .contact-contents {
    padding: 0 30px;
  }

  .contact-check {
    display: block;
  }

  .contact-btn {
    margin-top: 50px;
  }


/*--------------------------------------------------------------
footer_sp
--------------------------------------------------------------*/
  footer {
    font-size: 1.4rem;
  }
}
